@model SiberianSales2.Models.SalesProposal

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>SalesProposal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Seller)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Seller.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProposalDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProposalDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProposalValidity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProposalValidity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FreightValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FreightValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Observations)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Observations)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProposalValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProposalValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProposalComissionValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProposalComissionValue)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
