@model IEnumerable<SiberianSales2.Models.SalesProposal>

@{
    ViewData["Title"] = "Sales Proposal Directory";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-default">Create New</a>
</p>



<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seller)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProposalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProposalValidity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProposalStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Reference)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Seller.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.ClientFantasyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProposalDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProposalValidity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProposalStatus.Status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>