@model IEnumerable<SiberianSales2.Models.PurchaseOrder>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PoReference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.POrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PSendingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoFiscalCupom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoTrackingId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoObservation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseOrderStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseOrderTotalValue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PoReference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.POrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PSendingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoFiscalCupom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoTrackingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoObservation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseOrderStatus.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseOrderTotalValue)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
