@model SiberianSales2.Models.Client

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClientFantasyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientFantasyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClientCnpj)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientCnpj)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StateInscription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StateInscription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StateInscriptionExemption)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StateInscriptionExemption)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MunicipalInscription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MunicipalInscription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Observation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Observation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderObservation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderObservation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActiveClient)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActiveClient)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
