@model SiberianSales2.Models.PaymentTerms

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PaymentTerms</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PaymentTerm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentTerm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaymentTermDays)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentTermDays)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaymentDuplicates)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentDuplicates)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
