@model IEnumerable<SiberianSales2.Models.Supplier>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SupplierName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierFantasyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierCnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StateInscription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StateInscriptionExemption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MunicipalInscription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Website)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TxComissionRetention)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceValidityDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AditionalTaxes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IcmsTx)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocalStockReseller)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountManager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountManagerPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountManagerEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiteLogin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SitePassword)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierFantasyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierCnpj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateInscription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateInscriptionExemption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MunicipalInscription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Website)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TxComissionRetention)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceValidityDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AditionalTaxes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IcmsTx)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalStockReseller)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountManager)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountManagerPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountManagerEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiteLogin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SitePassword)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
