@model SiberianSales2.Models.PurchaseOrderItem

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PurchaseOrderItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PoItemUnitValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PoItemUnitValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PoItemQtde)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PoItemQtde)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PurchaseOrder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PurchaseOrder.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
